{% extends "settings/user_settings.html" %}
{% block title %}Account Security{% endblock %}
{% block content %}
<body class="d-flex h-100 text-center text-bg-dark">
  <br><br>
    <main class="px-3 mt-3">
        <div class="my-5">
          <div class="p-5 text-center  rounded-3 bg-body-tertiary">
            <div class="container-fluid py-5">
              <h1 class="text-body-emphasis">Two-Factor Authentication</h1>
              <p class="col-lg-8 mx-auto lead text-black">Two-factor authentication provides you with an extra layer of security to keep your data private</p>
              <button class="btn btn-success btn-lg" type="button" href={% url 'two_factor:setup' %}>Enable 2FA</button>
              <button class="btn btn-dark btn-lg" type="button" href={% url 'two_factor:profile' %}>2FA Account Settings</button>
            </div>
          </div>
        </div>
    </main>
</body>
{% endblock %}