{% extends "pathways/base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
     body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    .cover-container {
        flex: 1;
    }
</style>
<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <br><br>
        <main class="px-3 mt-3">
            <div class="my-5">
              <div class="p-5 text-center  rounded-3 bg-body-tertiary">
                <div class="container-fluid py-5">
                  <h1 class="text-body-emphasis">Upload. Analyze. Plan.</h1>
                  <p class="col-lg-8 mx-auto lead text-black">
                    Upload a .csv file of your expenses and let us help you visualize and understand your spending habits so that you can plan and save more with less
                  </p>
                  <button class="btn btn-dark btn-lg" type="button">Get Started!</button>
                </div>
              </div>
            </div>
        </main>
        <br><br>
        <footer class="container py-5 text-white">
           <div class="row">
             <div class="col-12 col-md">
               <img src="{% static 'images/logo-no-background.png' %}" height="40px" />
               <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
             </div>
             <div class="col-6 col-md">
               <h5>Features</h5>
               <ul class="list-unstyled text-small">
                 <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
               </ul>
             </div>
             <div class="col-6 col-md">
               <h5>Resources</h5>
               <ul class="list-unstyled text-small">
                 <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
             </div>
             <div class="col-6 col-md">
               <h5>Resources</h5>
               <ul class="list-unstyled text-small">
                 <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
               </ul>
             </div>
             <div class="col-6 col-md">
               <h5>About</h5>
               <ul class="list-unstyled text-small">
                 <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
               </ul>
             </div>
           </div>
         </footer>
    </div>
</body>
{% endblock %}
